<h1>Stupid Coaching</h1>

<div>
  <div>
    <h5><%= @question %></h5>
    <p>- You</p>
  </div>

  <div>
    <h5><%= @answer %></h5>
    <p>- Coach</p>
  </div>
</div>

<%= link_to "Ask another question", ask_path %>
